#faq{
	display: flex;
	justify-content: center;
	padding: 30px 0;
}

#faq-center{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 70%;
}

#faq-center > input{
	background-color: var(--ghost-black);
	border: 1px solid var(--semi-black);
	border-radius: 3px;
	padding: 10px 15px;
	color: #fff;
	margin-bottom: 30px;
	width: 30%;
	outline: none;
}

#faq-center > a{
	color: var(--red);
	font-size: 14px;
}

#actions{
	display: flex;
	align-items: stretch;
	font-size: 14px;
	margin-top: 10px;
}

#discord, #documentation{
	display: flex;
	align-items: center;
	background-color: var(--blue);
	padding: var(--button-padding);
	text-decoration: none;
	color: #fff !important;
	border-radius: 3px;
}

#documentation{
	background-color: var(--semi-black);
	margin-left: 5px;
}

#discord > img{
	backface-visibility: hidden;
	height: 24px;
	margin-right: 10px;
}

.faq-item{
	display: flex;
	flex-direction: column;
	color: var(--semi-white);
	font-size: 14px;
	padding: 50px 0;
	border-bottom: 1px solid var(--ghost-white);
}

.faq-item:last-child{
	border: none;
}

.faq-item > h1{
	color: #fff;
	font-size: 22px;
	margin: 0 0 10px 0;
}

.faq-item > .faq-tags{
	display: flex;
	margin-top: 10px;
}

.faq-item > .faq-tags > a{
	background-color: var(--semi-black);
	border-radius: 3px;
	padding: 3px 7px;
	color: #fff;
	margin: 0 5px 5px 0;
}

#tags{
	display: flex;
	flex-wrap: wrap;
	max-width: 350px;
	margin-top: 30px;
}

#tags > a{
	background-color: var(--semi-black);
	border-radius: 3px;
	padding: 3px 7px;
	color: #fff;
	margin: 0 5px 0 0;
	font-size: 14px;
	cursor: pointer;
}

#tags > a.selected{
	background-color: var(--green);
}