#bot-modules, #bot-users{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#bot-modules, #bot-users{
    margin-top: 50px;
}

#bot-modules > h1, #bot-users > h1{
	font-size: 14px;
	color: #fff;
	margin: 0 0 10px 0;
}

#bot-modules > a, #bot-users > a{
	margin-bottom: 30px;
	color: var(--semi-white);
	font-size: 13px;
}

#users{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	box-sizing: border-box;
	justify-content: flex-start;
	gap: 20px;
}

#modules{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    box-sizing: border-box;
	justify-content: flex-start;
    gap: 20px;
}

/*SETTINGS*/

#bot-settings-outer{
    display: flex;
    flex-direction: column;
}

#bot-settings-outer > h1{
	font-size: 14px;
	color: #fff;
	margin: 0 0 10px 0;
}

#bot-settings-outer > a{
	color: var(--semi-white);
	font-size: 13px;
}

#bot-settings-inner{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.settings-item{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 10px;
    font-size: 14px;
}

.settings-item > input{
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    background-color: var(--primary-color);
    color: #fff;
    margin-top: 5px;
    outline: none;
    align-self: flex-start;
}

.module-item, .user-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-radius: 3px;
    background-color: var(--primary-color);
    padding: 13px;
}

.module-name, .user-name{
    font-size: 14px;
}

.user-item{
    cursor: pointer;
}

#unavailable{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, 
        red 0 calc(100% / 6), 
        orange calc(100% / 6) calc((100% / 6) * 2), 
        yellow calc((100% / 6) * 2) calc((100% / 6) * 3), 
        green calc((100% / 6) * 3) calc((100% / 6) * 4), 
        indigo calc((100% / 6) * 4) calc((100% / 6) * 5), 
        violet calc((100% / 6) * 5) 100%);
}

#unavailable::after{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    content: '';
    width: 100%;
    height: 100%;
}

#unavailable > h1{
    z-index: 2;
    margin: 0;
    padding: 0;
    font-size: 150px;
    color: #fff;
    font-weight: bold;
}

