#add-user, #added-users{
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

#add-user > a{
	font-size: 13px;
	color: #D3D3D3;
}

#add-user > button{
	border: none;
	outline: none;
	text-decoration: none;
	background-color: var(--blue);
	margin-top: 10px;
	border-radius: 3px;
	color: #fff;
	padding: 7px 15px;
	align-self: flex-start;
	cursor: pointer;
}

#added-users > a{
	font-size: 14px;
	color: #D3D3D3;
	font-weight: bold;
	margin-bottom: 10px;
}

#users{
	display: flex;
	flex-direction: column;
	gap: 15px
}

.twitter-user-item{
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 15px;
	border-radius: 3px;
	cursor: pointer;
}

.twitter-user-item:hover{
	transition: all .3s ease-in-out;
	background-color: var(--primary-color);
}

.twitter-user-item > img{
	backface-visibility: hidden;
	height: 52px;
	border-radius: 5px;
}

.twitter-user-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
}

.twitter-user-content > .twitter-username{
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

.twitter-user-content > .twitter-username:hover:link{
	text-decoration: underline;
}

.twitter-user-content > a:not(.twitter-username){
	font-size: 13px;
	color: var(--semi-white);
}

.twitter-user-content > a:not(.twitter-username)::before{
	content: '#';
	font-size: 14px;
}

.twitter-user-actions{
	position: absolute;
	top: -13px;
	right: -13px;
	display: none;
	align-items: center;
}

.twitter-user-actions > img{
	backface-visibility: hidden;
	height: 14px;
	padding: 6px;
	border-radius: 100%;
	margin: 0 0 0 10px;
	background-color: var(--red);
}

.twitter-user-item:hover > .twitter-user-actions{
	display: flex;
}